.contenedor-secciones{
	text-align: center;
	/*background-color: red;*/
	padding-top: 2%;

}

.contenedor-seccion:hover{
	cursor: pointer;
	border-right: 1px outset;
}

.seccion {
	font: 180% Corbel; 
	cursor: pointer;
}

.contenedor-imagen{
	background-color: blue;
}


.contenedor-opciones{
	background-color: #EEF0A4;
}

.contenedor-opcion{
	border: 1px solid;
	text-align: center;
}

.contenedor-mensaje{
	background-color: #C4C3C3;
	text-align: center;
	font: white;
}

.contenedor-footer {
	-webkit-user-select: none; /*comandos para que no se pueda seleccionar el texto*/
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}

.contenedor-footer img{
	height: 35px;
	width: 35px;
	transition: width 0.1s, height 0.1s, transform 0.1s;
    -moz-transition: width 0.1s, height 0.1s, -moz-transform 0.1s;
    -webkit-transition: width 0.1s, height 0.1s, -webkit-transform 0.1s;
    -o-transition: width 0.1s, height 0.1s,-o-transform 0.1s;
}

.contenedor-footer img:hover {
	transform : scale(2);	
    -moz-transform : scale(2);      /* Firefox */
    -webkit-transform : scale(2);   /* Chrome - Safari */
    -o-transform : scale(2);        /* Opera */
}

.contenedor-copyleft{
	text-align: left;
}

