
.contenedor-impresion-1{
	left: -10px;
	margin-top: 45px;	
	width: 102%;
	height: 100%;
	background-image: url("../images/impresion-1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: right;
	max-height: 230px;
	min-height: 230px;
}

.texto{
	font-family: "Myriad Pro";
	font-size: 25;
	color: black;
}

.campo-txt{
	border: 0px solid;
	border-bottom: 1px solid;
	margin-right: 5%; 
	width: 40% !important;
}

/*--------------------------------------------------------------------------*/
/*Opciones para el texto y tamaño límite de la imagen principal---------------------------------------*/



.texto-impresion-p{
	text-align: right;
	color: white;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 55;
	font-weight: bold;
}

.texto-demanda-p{
	text-align: right;
	color: white;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60;
	font-weight: normal;
	margin-top: -30px;
}

.texto-seccion{
	text-align: left;
	color: white;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 40;
	color: white;
	font-weight: normal;
}

.texto-secciong{
	text-align: left;
	color: white;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 33;
	color: white;
	font-weight: normal;
}

.texto-secciong1{
	text-align: left;
	color: white;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 25;
	color: white;
	font-weight: normal;
	margin-top: -10px;
}

.texto-seccion1{
	text-align: left;
	color: white;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 40;
	color: white;
	font-weight: normal;
	margin-top: -20px;
}

.contenedor-tendencias-moda{
	border-right: 3px solid;
	border-color: white;
}

.contenedor-texto-seccion{
	text-align: left;
}

.divisor-opcion{
	height: 1px;
	background-color: gray;
	width: 95%;

}

.texto-especificaciones{
	color: #77472F;
	border-bottom: 1px solid;
	width: 100%;
	border-color: black;
}

.texto-especificaciones1{
	color: #77472F;
}

.contenedor-especificaciones{
	-moz-box-shadow: 2px 4px 7px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 2px 4px 7px rgba(0, 0, 0, .5);
    box-shadow: 2px 4px 7px rgba(0, 0, 0, .5);
    width: 100%;
}

.contenedor-medio{
	/*width: 80%;*/
	text-align: left;
}

.tabla{
	background-color: #A9A9A9;
	width: 80%;
	font-size: 13;
}

.boton{
	background-color: #77472F;
	color: white;
	font-weight: bold;
	width: 80%;
	height: 40px;
	border-radius: 12px 12px 12px 12px;
}

.boton1{
	background-color: #77472F;
	color: white;
	font-weight: bold;
	border-radius: 12px 12px 12px 12px;
	width: 60%;
}

.boton1:hover{
	background-color: #4E2D0B;
	color: white;
}

.boton:hover{
	background-color: #4E2D0B;
	color: white;
}

.texto-total{
	font-size: 20;
	font-weight: bold;
	color: black;
}
/*Opciones para la barra de navegación--------------------------------------*/

@media screen and (min-width: 992px){

	.contedor-medio{
		width: 90%;
	}


	.contenedor-tendencias-moda{
		top: 50;
	}

	.contenedor-texto-seccion{
		top: 70;
	}
}
/*Opciones para pantallas inferiores a 992px*/
@media screen and (max-width: 992px) {
	
	.contenedor-impresion-1{
		min-height: 200px;
		max-height: 200px;
	}

	.texto-impresion-p{
		font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 50;
		font-weight: bold;
	}

	.texto-demanda-p{
		font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 50;
		font-weight: normal;
		margin-top: -35px;
	}

	.texto{
		font-size: 22;
	}

	.contenedor-tendencias-moda{
		top: 20;	
	}

	.contenedor-texto-seccion{
		top: 40;	
	}

	.texto-seccion, .texto-seccion1{
		font-size: 29;
	}

	.texto-secciong, .texto-secciong1{
		font-size: 18;
	}

	.texto-secciong1{
		margin-top: -5px;
	}	

}

/*Opciones para pantallas superiores a 768px*/
@media screen and (min-width: 768px){
	.show{
		display: none !important;
	}

	.hide{
		display: block !important;
	}

}

/*Opciones para pantallas inferiores a 767px*/
@media screen and (max-width: 767px){
	.hide{
		display: none !important;
	}	

	.show{
		display: block !important;
	}

	.opcion-img{
		width: 185px;
		height: 150px;
	}

	.contenedor-tendencias-moda{
		/*right: 85;*/
		top: 50;
	}

	.contenedor-texto-seccion{
		top: 60;	
	}

}

/*Opciones para pantallas inferiores a 768px*/
@media screen and (max-width: 768px) {
	
	.texto-impresion-p{
		
		font-size: 26;
		
	}

	.texto-demanda-p{
	
		font-size: 28;
	
		margin-top: -20px;
	}

	.texto-seccion{
		font-size: 20;
	}

	.texto-seccion1{
		font-size: 20;
		margin-top: -15px;
	}

	.texto-secciong{
		font-size: 20;
	}

	.texto-secciong1{
		font-size: 13;
		margin-top: -5px;
	}

	.contenedor-impresion-1{
		min-height: 180px;
		max-height: 180px;
	}

	.texto{
		font-size: 17;
	}

}

/*Opciones para pantallas inferiores a 480px*/
@media screen and (max-width: 480px){

	.contenedor-impresion-1{
		left: -10px;
        width: 106%;
		height: 100%;	
		background-image: url("../images/impresion-1-sm.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		text-align: right;
		min-height: 150px;
		max-height: 150px;
	}

	.contenedor-tendencias-moda{
		top: 35;
	}

	.contenedor-texto-seccion{
		top: 47;
	}
	

	.texto-impresion-p{
		font-size: 22;
	}

	.texto-demanda-p{
		font-size: 24;
		margin-top: -15px;
	}

	.texto-seccion{
		font-size: 12;
	}

	.texto-seccion1{
		font-size: 15;
		margin-top: -6px;
	}

	.texto-secciong{
		font-size: 12;
	}

	.texto-secciong1{
		font-size: 8;
		margin-top: -6px;
	}

	.mostrar{
		display: block !important;
	}

	.ocultar{
		display: none !important;
	}

	.texto{
		font-size: 14;
	}

}

@media screen and (min-width: 481px){
	.mostrar{
		display: none !important;
	}

	.ocultar{
		display: block !important;
	}
}

.opcion-img img{
	width: 100%;
}

