/*Opciones para la animación de los botones de las redes sociales*/

.contenedor-redes img{
	height: 25px;
	width: 25px;
	
}

.contenedor-redes img:hover{
	transform : scale(1.2);	
    -moz-transform : scale(1.2);      /* Firefox */
    -webkit-transform : scale(1.2);   /* Chrome - Safari */
    -o-transform : scale(1.2);        /* Opera */
    transition: width 0.1s, height 0.1s, transform 0.1s;
    -moz-transition: width 0.1s, height 0.1s, -moz-transform 0.1s;
    -webkit-transition: width 0.1s, height 0.1s, -webkit-transform 0.1s;
    -o-transition: width 0.1s, height 0.1s,-o-transform 0.1s;
    cursor: pointer;
}

.redes{
    height: 30px;
}
