body{
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*=============================================
* ESTILOS PARA VENTANA DE CARGAR
*==============================================*/

.fbback{
	display:none;
	z-index:10;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,0.5);
}

.fb{
	display: none;
	position:absolute;
	z-index:10;
	background-color:#fff;
	border-radius:7px;
	box-shadow:1px 2px 4px rgba(0,0,0,0.7);
	top: 50%; 
  	left: 50%;
  	transform: translate(-50%, 70%);
}

.cambiar{
	top: 50%; 
  	left: 50%;
  	transform: translate(-50%, 200%);
}

.close{
	position:absolute;
	cursor:pointer;
	right:4px;
	top:4px;
	height:13px;
	width:13px;
	background:url('../images/cross.png') -13px 0px;
}

.close:hover{
	background-position:0px;
}

.dheader{
	background-color:#0F61B3;
	padding:4px 27px 5px 10px;
	font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:14px;
	color:white;
	font-weight:bold;
	text-align:left;
	white-space:nowrap;
	box-shadow:0 -7px 9px rgba(0,0,0,0.2) inset;
	border-radius:5px 5px 0 0;
	text-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
	border-top:1px solid rgba(0,0,0,0.15);
	border-left:1px solid rgba(0,0,0,0.15);
	border-right:1px solid rgba(0,0,0,0.15);
}

.dcontent{
	padding:10px;
	text-align:left;
	font-weight:normal;
	color:#575757;
}

.buttonx{
	border-radius:4px;
	border:1px solid #999;
	text-shadow:1px 1px 1px #fff;
	background:url('../images/button_bg.png') 0 0 repeat-x #fafafa;
	font-family:Verdana,Geneva,sans-serif;text-decoration:none;
	cursor:pointer;
	display:-moz-inline-box;display:inline-block;
	zoom:1;
	*display:inline;
	font-weight:normal;
	padding:0 10px;
	font-size:12px;
	line-height:20px;
	color:#000;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}

.buttonx:hover{
	border-color:#105289;
	background-position:left bottom;
	color:#a00;
}

/*=============================================
* OPCIONES PARA LA IMAGEN DE FONDO DE LA BARRA DE NAVEGACION
*==============================================*/
.texto-opcion{
	color: #fff;
	height: 18%;
	width: 80%;
	position: absolute;
	bottom:-5px;
	left: 10%;
	font-size: 15;
}

.texto-opcion1{
	color: #fff;
	height: 18%;
	width: 80%;
	position: absolute;
	bottom:-5px;
	left: 10%;
	font-size: 13;
}

.contenedor-impresion{
	left: -10px;
	margin-top: 45px;	
	height: 100%;
	background-image: url("../images/Libreria_02.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: right;
	max-height: 449px;
	min-height: 255px;
}

.barras{
	height: 1px;
	background-color: black;
	width: 50%;
}

.texto{
	font-size: 25;
	color: black;
}

/*=============================================
* OPCIONES PARA EL TEXTO Y TAMAÑO LIMITE DE LA IMAGEN PRINCIPAL
*==============================================*/
.texto-impresion-p{
	text-align: right;
	color: white;
	font-size: 650%;
	font-weight: bold;
}

.texto-demanda-p{
	text-align: right;
	color: white;
	font-size: 600%;
	font-weight: normal;
	margin-top: -40px;
}

.texto-intro-pantallas-sm{
	display: none;
}

/*=============================================
* OPCIONES PARA CREAR EL SELECT GENERO / EL TEXT BUSCAR LIBRO / EL TEXT BUSCAR AUTOR
*==============================================*/

.label-select-genero{
	position: absolute;
	z-index: 1;
	top: 0.5em;
	left: 1.7em;
	color: gray;
	cursor: pointer;
}

.img-select-genero{
	position: absolute;
	z-index: 1;
	top: 0.7em;
	color: gray;
	cursor: pointer;
}

.select-genero{
	-webkit-appearance: none; /*codigo para eliminar valores por default del select y poder modificar los bordes*/
    -moz-appearance: none; /*codigo para eliminar valores por default del select y poder modificar los bordes*/
    background: url('../images/fondo_text.png');
	background-repeat: no-repeat;
    background-size: 100% 100%;
	cursor: pointer;
	color: gray;
	border-radius: 23px 23px 23px 23px;
	-moz-border-radius: 23px 23px 23px 23px;
	-webkit-border-radius: 23px 23px 23px 23px;
	border: 1px solid #ffffff;
	cursor: pointer;
}

.text-buscar-libro{
	-webkit-appearance: none; /*codigo para eliminar valores por default del select y poder modificar los bordes*/
    -moz-appearance: none; /*codigo para eliminar valores por default del select y poder modificar los bordes*/
	background: url('../images/fondo_text.png');
	background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 23px 23px 23px 23px;
	-moz-border-radius: 23px 23px 23px 23px;
	-webkit-border-radius: 23px 23px 23px 23px;
	border: 1px solid #ffffff;
}

.lupa-buscar-libro{
	position: absolute;
	z-index: 1;
	top: 0.4em;
	cursor: pointer;
}

.text-buscar-autor{
	-webkit-appearance: none; /*codigo para eliminar valores por default del select y poder modificar los bordes*/
    -moz-appearance: none; /*codigo para eliminar valores por default del select y poder modificar los bordes*/
	background: url('../images/fondo_text.png');
	background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 23px 23px 23px 23px;
	-moz-border-radius: 23px 23px 23px 23px;
	-webkit-border-radius: 23px 23px 23px 23px;
	border: 1px solid #ffffff;
}

.lupa-buscar-autor{
	position: absolute;
	z-index: 1;
	top: 0.4em;
	cursor: pointer;
}

/*=============================================
* OPCIONES PARA EL CONTENDEOR DE LIBROS DESTACADOS - [AMBAS PANTALLAS]
*==============================================*/
.img_libro_destacado_aparece{
	transform : scale(1.01);	
    -moz-transform : scale(1.01);       /*Firefox*/ 
    -webkit-transform : scale(1.01);    /*Chrome - Safari*/ 
    -o-transform : scale(1.01);         /*Opera */
    transition: width 0.5s, height 0.5s, transform 0.5s;
    -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
    -o-transition: width 0.5s, height 0.5s,-o-transform 0.5s;
}

.img_libro_destacado_normal{
	transform : scale(1);	
    -moz-transform : scale(1);       /*Firefox*/ 
    -webkit-transform : scale(1);    /*Chrome - Safari*/ 
    -o-transform : scale(1);         /*Opera */
    transition: width 0.5s, height 0.5s, transform 0.5s;
    -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
    -o-transition: width 0.5s, height 0.5s,-o-transform 0.5s;
}

/*=============================================
* OPCIONES PARA EL CONTENDEOR DE LIBROS DESTACADOS - [PANTALLAS GRANDES]
*==============================================*/
.div_destacado_md{
	background-color: #dedede;
	height: 150px;
	z-index: 3;
}

.div_img_libro img:hover{
	-webkit-animation: swing 1s ease;
	animation: swing 1s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	cursor: pointer;
}

.div_titulo_libro{
	text-align: right; font-size: 20px; text-align: right; color: black;
}

.img_flecha_izquierda{
	cursor: pointer;
}

.img_flecha_izquierda:hover{
	background: #6e3b23 url('../images/libro_left_hover.png') no-repeat;
	content:url(../images/libro_left_hover.png);
	transform : scale(1.1);	
    -moz-transform : scale(1.1);       /*Firefox*/ 
    -webkit-transform : scale(1.1);    /*Chrome - Safari*/ 
    -o-transform : scale(1.1);         /*Opera */
    transition: width 0.5s, height 0.5s, transform 0.5s;
    -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
    -o-transition: width 0.5s, height 0.5s,-o-transform 0.5s;

    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.img_flecha_derecha{
	cursor: pointer;
}

.img_flecha_derecha:hover{
	background: #6e3b23 url('../images/libro_right_hover.png') no-repeat;
	content:url(../images/libro_right_hover.png);
	transform : scale(1.1);	
    -moz-transform : scale(1.1);       /*Firefox*/ 
    -webkit-transform : scale(1.1);    /*Chrome - Safari*/ 
    -o-transform : scale(1.1);         /*Opera */
    transition: width 0.5s, height 0.5s, transform 0.5s;
    -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
    -o-transition: width 0.5s, height 0.5s,-o-transform 0.5s;
    
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.img_carrito_libro{
	cursor: pointer;
	z-index: 4;
}

.img_carrito_libro:hover{
	transform : scale(1.1);	
    -moz-transform : scale(1.1);       /*Firefox*/ 
    -webkit-transform : scale(1.1);    /*Chrome - Safari*/ 
    -o-transform : scale(1.1);         /*Opera */
    transition: width 0.5s, height 0.5s, transform 0.5s;
    -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
    -o-transition: width 0.5s, height 0.5s,-o-transform 0.5s;
    cursor: pointer;
}

/*=============================================
* OPCIONES PARA EL CONTENDEOR DE LIBROS DESTACADOS - [PANTALLAS PEQUEÑAS]
*==============================================*/
.div_destacado_xs{
	background-color: #b8978d;
	border: 0px solid;
}

.div_img_libro_xs{
	position: relative;
    height: 150px;
}

.div_libro_xs {
    position: absolute;
    top: -40%;
}

#autor_libro_destacado_xs{
	font-size: 1em; 
	width: 90%; 
	padding-top: 70px; 
	font-weight: normal; 
	padding-left: 22px; 
	color: #777777; 
	position: absolute;
}

#titulo_libro_destacado_xs{
	font-size: 1em; 
	width: 90%; 
	padding-top: 160px; 
	font-weight: normal; 
	padding-left: 22px; 
	color: black; 
	position: absolute;
}

#precio_libro_destacado_xs{
	font-size: 1em; 
	width: 90%; 
	padding-top: 180px; 
	font-weight: normal; 
	padding-left: 22px; 
	color: #777777; 
	position: absolute;
}

.img_carrito_libro_xs{
	width: 70%; 
	padding-top: 183.31px; 
	padding-left: 82px; 
	position: absolute;
	cursor: pointer;
}

/*==========================================================================================================
* ---------------------------- OPCIONES PARA MODIFICAR CSS POR MEDIA QUERIES -------------------------------
*===========================================================================================================*/

/*=============================================
* OPCIONES PARA PANTALLAS SUPERIORES A 992PX [COMPUTADORES] AQUI COLOCAR LAS OPCIONES PARA PANTALLAS GRANDES
*==============================================*/
@media screen and (min-width: 992px){

	.contedor-medio{
		width: 50%;
	}

	.contenedor-tendencias-moda{
		left: 10;
		top: 50;
	}

	.lupa-buscar-libro{
		left: 80%;
	}

	.lupa-buscar-autor{
		left: 80%;
	}

	.img-select-genero{
		left: 70%;
	}

	.show_pantalla_grande{
		display: block !important;
	}

	.show_pantalla_pequeña{
		display: none !important;
	}
}

/*=============================================
* OPCIONES PARA PANTALLAS INFERIORES A 992PX [TABLETS] AQUI COLOCAR LAS OPCIONES PARA PANTALLAS MEDIANAS
*==============================================*/
@media screen and (max-width: 992px) {
	
	.texto-impresion-p{
		font-size: 400%;
		font-weight: bold;
	}

	.texto-demanda-p{
		font-size: 350%;
		font-weight: normal;
		margin-top: -35px;
	}


	.contenedor-impresion{
		min-height: 290px;
		max-height: 290px;	
	}

	.texto{
		font-size: 22;
	}

	.texto-intro-pantallas-md{
		display: none;
	}

	.texto-intro-pantallas-sm{
		display: block;º
	}

	.lupa-buscar-libro{
		left: 90%;
	}

	.lupa-buscar-autor{
		left: 90%;
	}

	.img-select-genero{
		left: 90%;
	}

	.show_pantalla_grande{
		display: none !important;
	}

	.show_pantalla_pequeña{
		display: block !important;
	}

	.div_libro_xs {
	    right: 330;
	}
}

/*=============================================
* OPCIONES PARA PANTALLAS SUPERIORES A 768PX
*==============================================*/
@media screen and (min-width: 768px){

	.texto-label-nl{
		color: black;
		font-size: 24px;
		font-weight: normal;
		margin-right: 530px;
	}

	.show{
		display: none !important;
	}

	.hide{
		display: block !important;
	}

	.texto-peque{
		display: none;
	}
}

/*=============================================
* OPCIONES PARA PANTALLAS INFERIORES A 767PX [CELULARES] AQUI COLOCAR LAS OPCIONES PARA PANTALLAS PEQUEÑAS
*==============================================*/
@media screen and (max-width: 767px){

	.texto-label-nl{
		text-align: left;
		color: black;
		font-size: 24px;
		font-weight: normal;
		right: 1em;
	}

	.hide{
		display: none !important;
	}	

	.show{
		display: block !important;
	}

	.barras{
		width: 30%;
	}

	.opcion-img{
		width: 185px;
		height: 150px;
	}

	.contenedor-tendencias-moda{
		right: 85;
		top: 20;
	}

	.lupa-buscar-libro{
		left: 85%;
	}

	.lupa-buscar-autor{
		left: 85%;
	}

	.img-select-genero{
		left: 85%;
	}

	.div_libro_xs {
	    right: 150;
	}

}

/*=============================================
* OPCIONES PARA PANTALLAS INFERIORES A 768PX
*==============================================*/
@media screen and (max-width: 768px) {
	
	.texto-impresion-p{
		font-size: 300%;
		font-weight: bold;
	}

	.texto-demanda-p{
		font-size: 300%;
		font-weight: normal;
		margin-top: -30px;
	}

	.contenedor-impresion{
		min-height: 230px;
		max-height: 230px;
	}

	.texto-grande{
		display: none;
	}

	.texto-peque{
		display: block;
	}

	.texto{
		font-size: 17;
	}

}

/*=============================================
* OPCIONES PARA PANTALLAS SUPERIORES A 481PX
*==============================================*/
@media screen and (min-width: 481px){
	.mostrar{
		display: none !important;
	}

	.ocultar{
		display: block !important;
	}
}

/*=============================================
* OPCIONES PARA PANTALLAS INFERIORES A 480PX 
*==============================================*/
@media screen and (max-width: 480px){

	/*.texto-label-nl{
		color: black;
		font-size: 24px;
		font-weight: normal;
		right: 87px;
	}*/

	.texto-peque img{
		width: 200px;
		/*height: 70px;*/
	}

	.contenedor-tendencias-moda{
		right: 15%;
		top: 25;
	}
	

	.texto-impresion-p{
		text-align: right;
		font-size: 200%;
		font-weight: bold;
	}

	.texto-demanda-p{
		text-align: right;
		font-size: 200%;
		font-weight: normal;
		margin-top: -20px;
	}


	.mostrar{
		display: block !important;
	}

	.ocultar{
		display: none !important;
	}


	.contenedor-impresion{
        left: -10px;
		height: 20%;	
		background-image: url("../images/Seccion-libro_02-sm.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		text-align: right;
		min-height: 150px;
		max-height: 1px;
	}

	.texto{
		font-size: 14;
	}
	
}

/*=============================================
* VAMOS A DEFINIR EN PRIMER LUGAR UNA ANIMACION CSS EN SUS ESTILOS
*==============================================*/
@-webkit-keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
@keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}